.action-header {
    font-size: 25px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px 0px;
    margin-left: -4px;

   
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-basis: 300px;

        .actions-minimized {
            flex-basis: 15px;
        }
    }
}

.action-header-expanded {
    .actions {
        flex-basis: 15px;
    }

    .close-button {
        display: none;
    }
}