<div class="app-container">
    <div class="actions-header-container">
        <app-action-header></app-action-header>
    </div>
    <div class="app-content-container">
        <div class="app-content" [ngClass]="{'app-content-expanded' : isExpanded$ | async }">
            <app-note-editor></app-note-editor>
            <!-- <app-note-list></app-note-list> -->
        </div>

        <div class="sidebar-content" [ngClass]="{'sidebar-content-minimized' : isExpanded$ | async }">
            <app-sidebar></app-sidebar>
        </div>
    </div>
</div>