@import "palette.scss";

.app-container {
    display: flex;
    flex-direction: column;

    .actions-header-container {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;

        app-action-header {
            width: 100%;
        }
    }

    .app-content-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    
        .app-content {
            margin-left: 25px;
            transition: width 2s;
            padding-left:10px;
            border-right: 1px solid $grey3;
            flex-basis: 75%;
        }
    
        .sidebar-content {
            flex-basis: 25%;
            transition: ease-out 5s;
        }
    }

    .app-content-container-expanded {
    
        .app-content {
            flex-basis: 97%;
        }
    
        .sidebar-content {
            flex-basis: 3%;
            display: none;
        }
    }

    
}
