// Add colors here.

$primary-color:#006838;
$grey1: rgb(235, 235, 235);
$grey2: rgb(202, 202, 202);
$grey3: rgb(161, 161, 161);
$grey4: rgb(95, 95, 95);
$grey5: rgb(41, 41, 41);
$black: rgb(15, 15, 15);
$red: rgb(190, 30, 45);
$green: rgb(0, 104, 56);

$text-type: Georgia, "Times New Roman", serif;
$ui-type: Avenir, "Avenir", "Avenir Next LT Pro", Verdana, Helvetica, sans-serif;