// Add colors here.

$primary-color:#006838;
$grey1: rgb(235, 235, 235);
$grey2: rgb(202, 202, 202);
$grey3: rgb(161, 161, 161);
$grey4: rgb(95, 95, 95);
$grey5: rgb(41, 41, 41);
$black: rgb(15, 15, 15);

$text-type: ff-more-web-pro, serif;
$title-type: ff-more-web-pro-wide, serif; 
$ui-type: urw-din, sans-serif;