<div class="counts-panel-row">

  <div class="counts-panel-column">
    <div class="count-tile">
      <div class="count-tile-count">
        <span>Word Count</span>
      </div>
      <div class="count-tile-value">
        <span>967</span>
      </div>
    </div>

    <div class="count-tile">
      <div class="count-tile-count">
        <span>Progress</span>
      </div>
      <div class="tile-percentage">
        <canvas id="myChart" width="35" height="35"></canvas>
      </div>
    </div>
  </div>

  <div class="counts-panel-column">
    <div class="count-tile">
      <div class="count-tile-count">
        <span>Current Streak</span>
      </div>
      <div class="count-tile-value">
        <span>8</span>
      </div>
    </div>

    <div class="count-tile">
      <div class="count-tile-count">
        <span>Skip Days</span>
      </div>
      <div class="count-tile-value">
        <span>9</span>
      </div>
    </div>
  </div>
</div>