@import "../palette.scss";

.count-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .count-tile-count {
        font-size: 14px;
        font-weight: 300;
    }

    .count-tile-value {
        font-size: 25px;
    }

    
    // .tile-percentage {   }
}