@import "../palette.scss";

.note-editor-container {
    display: flex;
    flex-direction: column;
    flex: 100%;
    padding: 0px calc(10% + 10px);


    .note-title {
              
        textarea {
            font-size: 26px;
            font-family: $title-type;
            color: $grey5;
            resize: none;
            border: none;
            background-color: $grey1;
            resize: none;
            overflow: hidden;
            outline: none;
            width: 99%;
        }
    }

    .note-date {
        font-size: 18px;
        margin-bottom: 20px;
        color: $grey4;
        width: 99%;
    }

    .note-editor {
        min-height: 300px;
        textarea {
            font-size: 22px;
            word-break: break-word;
            line-height: 34px;
            font-family: $text-type;
            color: $grey5;
            border: none;
            background-color: $grey1;
            resize: none;
            overflow: auto;
            outline: none;
            height: 80vh;
            width: 99%;
            display: inline-block;
        }
    }
}

