<div class="note-editor-container">
    <div class="note-title">
        <textarea [formControl]="titleForm" contentEditable=true maxlength="25" placeholder="Enter your title"></textarea>
        <!-- <div placeholder="Title" [formControl]="titleForm" contenteditable="true"></div> -->
    </div>
    <div class="note-date">
        {{formattedDate}}
    </div>
    <!-- <div class="note-editor" [formControl]="contentForm" placeholder="What's on your mind?" contenteditable="true"></div> -->
    <div class="note-editor">
        <textarea [formControl]="contentForm" contentEditable=true placeholder="What's today's story?"></textarea>
    </div>    
</div>