.note-editor {
    width: 100%;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* remove the ugly ass border */
    outline: 0px solid transparent;
    padding-top: 15px;
}