<div class="sidebar-controls-panel">
    <div *ngIf="searchBarVisible === false" class="actions-pane">
        <span class="tooltip--triangle" data-tooltip="Search">
            <i (click)="searchClicked()" class="fas fa-search"></i>
        </span>
        <span class="tooltip--triangle" data-tooltip="Settings">
            <i class="fas fa-cogs"></i>
        </span>
        <span class="tooltip--triangle" data-tooltip="Logout">
            <i (click)="loginPage()" class="fas fa-user"></i>
        </span>
    </div>
    <div *ngIf="searchBarVisible === true" class="search-bar-container">
        <input [formControl]="searchForm" (blur)="onSearchBlur()" type="text">
        <i (click)="searchClicked()" class="fas fa-search"></i>
        <i *ngIf="searchForm.value" (click)="searchCleared()" class="fas fa-times"></i>
    </div>
</div>