@import '../palette.scss';
@import '../tooltip.scss';

    .sidebar-controls {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:40px;
        margin-top:20px;

        .actions-pane {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .search-bar-container {
            
            .fa-search {
                position: relative;
                left: 10px;
                top: -25px;
                color: $grey3;
            }

            .fa-times {
                position: relative;
                left: 217px;
                top: -25px;
            }

            input {
                width: 100%;
                font-size: 16px;
                display: flex;
                border-radius: 16px;
                border: 2px solid;
                border-color: $grey3;
                height: 30px;
                padding-left: 30px;
                box-sizing: border-box;
            }
            input[type=text]:focus {outline:none;}
        }
    }