.sidebar {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 25px;

    .counts-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 25px;
        
        .counts-panel-column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            app-count-tile {
                margin-bottom: 15px;
            }
        }
    }

    .calendar-panel {
        margin-bottom: 30px;
        height: 265px; // handling for longest possible month
    }

    .sidebar-controls-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .actions-pane {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}