<div class="sidebar">
    <div class="counts-panel">
        <div class="counts-panel-row">
            <app-count-tile></app-count-tile>
            <app-count-tile></app-count-tile>
        </div>

        <div class="counts-panel-row">
            <app-count-tile></app-count-tile>
            <app-count-tile></app-count-tile>
        </div>

    </div>
    <div class="calendar-panel">
        <app-calendar-pane></app-calendar-pane>
    </div>
    <div class="sidebar-controls-panel">
        <button class="">New Entry</button>
        <div class="actions-pane">
            <i class="fas fa-align-justify"></i>
        </div>
    </div>
</div>