@import '../palette.scss';

.sidebar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    height: calc(97vh - 45px);

    .counts-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;
        
        .counts-panel-column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            app-count-tile {
                margin-bottom: 15px;
            }
        }
    }

    .calendar-panel {
        margin-bottom: 20px;
        height: 265px;
        flex-grow: 2; // handling for longest possible month
    }

    .sidebar-controls-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom:20px;

        .actions-pane {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .search-bar-container {
            margin-top: 20px;

            .fa-search {
                position: relative;
                left: 260px;
                top: -26px;
            }

            .fa-times {
                position: relative;
                left: 220px;
                top: -26px;
            }

            input {
                width: 100%;
                font-size: 16px;
                display: flex;
                border-radius: 16px;
                border: 2px solid;
                border-color: $grey4;
                height: 30px;
                padding-left: 10px;
                box-sizing: border-box;
            }
            input[type=text]:focus {outline:none;}
        }
    }
}