.sidebar {
    border: 1px dashed #AAA; /* TODO: Remove - just for visibility right now */
    height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 10px;

    .counts-panel {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        .counts-panel-row {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    .calendar-panel {
        height: 250px;
    }

    .sidebar-controls-panel {
        height: 250px;
    }
}