@import "../palette.scss";

.note-list {

    display: flex;
    flex-direction: column;

    .new-note-header {
        margin-bottom: 20px;
        cursor: pointer;
        color: $primary-color;
        .button-text {
            font-size: 25px;
        }
        .fas {
            color: $primary-color;
        }
    }

    .note-list-panel {
        margin-left: 18px;

        .note-preview {
            padding: 10px;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            cursor: pointer;
            border-radius: 2px;

            .note-title {
                margin-bottom: 5px;
                font-size: 25px;
                color: $grey5;
                font-family: $text-type;
                
            }

            .note-date {
                font-size: 18px;
                color: $grey4;
            }

            // note-preview hover
            // TODO Lucas: need a better hover class here
            &:hover {
                background: $grey3;
                cursor: pointer;
            }
        }
    }
}