<div class="note-list">

  <div *ngIf="!(isSearching$ | async) || !(searchTerm$ | async)" class="new-note-header" (click)="newNote()">
    <i class="fas fa-plus"></i>
    <span class="button-text">New Entry</span>
  </div>
  <div *ngIf="(isSearching$ | async) && (searchTerm$ | async)" class="new-note-header">
    <i class="fas fa-time"></i>
    <span>Entries with "{{searchTerm$ | async}}"</span>
  </div>
  
  <!-- actual note list -->
  <div *ngIf="!(isSearching$ | async) || !(searchTerm$ | async)" class="note-list-panel">
    <div *ngFor='let note of notes$ | async' class="note-preview" (click)="selectNote(note.id)">
      <div class="note-title">
        {{note.title}}
        <i *ngIf="!note.title">Untitled</i>
      </div>
      <div class="note-date">
        {{note?.getFormattedUpdatedDate()}}
        </div>
    </div>
  </div>

  <!-- filtered list of notes. Might need to split the styles out if they change for the searching -->
  <div *ngIf="(isSearching$ | async) && (searchTerm$ | async)" class="note-list-panel">
    <div *ngFor='let note of filteredNotes$ | async' class="note-preview" (click)="selectNote(note.id)">
      <div class="note-title">
        {{note.title}}
        <i *ngIf="!note.title">Untitled</i>
      </div>
      <div class="note-date">
        {{note?.getFormattedUpdatedDate()}}
        </div>
    </div>
  </div>

  <!-- Need a "No Records Found" message if there are not filterednotes -->


</div>