<div class="note-list">

  <div class="new-note-header" (click)="newNote()">
    <i class="fas fa-plus"></i>
    <span class="button-text">New</span>
  </div>
  <div class="note-list-panel">
    <div *ngFor='let note of notes$ | async' class="note-preview" (click)="selectNote(note.id)">
      <div class="note-title">
        {{note.title}}
        <i *ngIf="!note.title">Untitled</i>
      </div>
      <div class="note-date">
        {{note.getFormattedUpdatedDate()}}
        </div>
    </div>
  </div>
</div>