@import "../palette.scss";

.note-list {

    display: flex;
    flex-direction: column;

    .new-note-header {
        margin-bottom: 20px;
        cursor: pointer;
        color: $primary-color;
        .button-text {
            font-size: 25px;
        }
        .fas {
            color: $primary-color;
        }
    }

    .note-list-panel {
        padding: 0px 10%;

        .note-preview {
            padding: 10px;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            cursor: pointer;
            border: 0px solid $primary-color;
            padding-right: 15px;
            transition: .3s;

            .note-title {
                margin-bottom: 0px;
                font-size: 26px;
                color: $grey5;
                font-family: $title-type;
                font-weight: 400;          
                
            }

            .note-date {
                font-size: 16px;
                color: $grey4;
            }

            // note-preview hover
            &:hover {
                cursor: pointer;
                border-left: 3px solid $primary-color;
                transition: .3s;
                padding-left: 15px;
                padding-right: 0px;

                .note-title {
                    color: $primary-color;
                    transition: .3s;
                }
            }
        }
    }
}