<div class="calendar-pane">
  <div class="calendar-header">
    <div class="calendar-arrow" (click)="monthDown()">
        <i class="fas fa-angle-left"></i>
    </div>
    <span>{{monthText}}, {{yearText}}</span>
    <div class="calendar-arrow" (click)="monthUp()">
        <i class="fas fa-angle-right"></i>
    </div>
  </div>
  <div class="calendar-days">
    <div class="calendar-day">
      Mo
    </div>
    <div class="calendar-day">
      Tu
    </div>
    <div class="calendar-day">
      We
    </div>
    <div class="calendar-day">
      Th
    </div>
    <div class="calendar-day">
      Fr
    </div>
    <div class="calendar-day">
      Sa
    </div>
    <div class="calendar-day">
      Su
    </div>
    <div class="calendar-day selectable-day" [ngClass]="{'selectable-day-today' : isToday(day?.date), 'selectable-day-future' : isAfterToday(day?.date), 'selectable-day-past' : isBeforeToday(day?.date) }" *ngFor="let day of daysInMonth">
      {{day?.date}}
      <div class="day-circle">

      </div>
    </div>
  </div>
</div>