@import "../palette.scss";

.calendar-pane {
    height: 100%;
    width: 100%;

    .calendar-header { 
        align-content: center;
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 300;
        flex-direction: row;
        justify-content: space-between;

        .calendar-arrow  {
            cursor: pointer;
        }
    }

    .calendar-days {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-left: 8px;

        .calendar-day {
            width: 26px; // (1/7) for seven days
           
            margin: 4px;
            text-align: center;
            vertical-align: middle;
            line-height: 1.6;
            font-size: 14px;
        }

        .selectable-day {
            cursor: pointer;
            height: 26px;
            transition: 0.3s;
            border-radius:50%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border: 1px solid $grey1;
            font-size: 14px;

            // TODO: Lucas, we need a better calendar day hover effect
            &:hover {
                border: 1px solid $grey4;
                
            }

            // class that gets applied if today
            &-today {
                background: #8e44ad;
                color: $grey1;
            }

            &-future {
                border: 1px solid $grey3;

            }

            &-past {
                border: 1px solid $primary-color;

            }
        }
    }
}